* {
  box-sizing: border-box;
}

body {
  background: #f9f4fa;
  font-family: "Roboto";
}

.main {
  display: flex;
  justify-content: center;
  padding: 4em 5%;
}
.main .bg-gradient {
  position: absolute;
  top: 0;
  left: -70%;
  width: 120%;
  height: 515px;
  display: inline-block;
  background: linear-gradient(to bottom, #c042ff, #8838ff);
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 50%;
  z-index: 10;
}
.main .iphone {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 82%;
  height: auto;
  font-size: 0.75em;
  border: 0.85em solid #fff;
  border-radius: 2.5em;
  margin: 0 auto;
  margin-bottom: 5em;
  overflow: hidden;
  z-index: 20;
  box-shadow: rgba(200, 200, 200, 0.5) 4px 4px 20px;
}
.main .top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to left, #e942ff, #8838ff);
}
.main .notch {
  position: relative;
  top: -0.5em;
  display: inline-block;
  width: 57%;
  height: 2em;
  background: #fff;
  border-radius: 1.2em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: auto;
}
.main .app-bar {
  position: relative;
  top: -0.75em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 5% 0 5%;
  color: #fff;
}
.main .contact-img {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.15rem solid #fff;
  border-radius: 2em;
}
.main .contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  margin-left: 0.75em;
}
.main .contact-name {
  display: inline-block;
  color: #fff;
  margin: 0;
  font-weight: 700;
}
.main .contact-status {
  display: inline-block;
  margin: 0;
  font-weight: 300;
  font-size: 0.75em;
}
.main .messages-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1.5em auto;
}
.main .chat {
  display: flex;
  font-size: 0.5em;
  padding: 1.5em;
  background: #f5f3f7;
  flex-direction: column;
}
.main .chat-response, .main .chat-send, .main .chat-check {
  display: inline-block;
  background: #ece4f1;
  color: #9241c8;
  max-width: 60%;
  font-size: 1.4em;
  margin-bottom: 0.75em !important;
  padding: 0.75em;
  border-radius: 1.5em;
  border-bottom-left-radius: 0.5em;
  line-height: 1.5em;
}
.main .chat-response p, .main .chat-send p, .main .chat-check p {
  margin: 0;
}
.main .chat-check {
  background: linear-gradient(to right, #e942ff, #8838ff);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 80%;
  padding: 1.25em 1em;
}
.main .chat-check .box {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 1em;
}
.main .chat-check .time {
  margin-left: 0;
  margin-right: auto;
}
.main .chat-check .price {
  font-weight: 700;
  font-size: 1.25em;
}
.main .chat-send {
  background: #fff;
  margin: auto;
  margin-right: 0;
  color: #6e5d7e;
}
.main .chat .group-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  padding: 0;
  margin: auto;
  margin-right: 0;
}
.main .chat .group-img .img {
  display: inline-block;
  width: 30%;
  height: auto;
  border-radius: 1em;
}
.main .chat-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: #fff;
  color: #c6cacd;
  height: 4em;
  font-size: 1.5em;
  padding: 0.5em 0.5em 0.5em 1.25em;
  border-radius: 2.5em;
}
.main .chat-input p {
  display: inline-block;
  margin: 0;
}
.main .chat-submit {
  display: inline-block;
  width: 2em;
  height: 2em;
  background: #3e2753;
  color: #fff;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
}
.main .title {
  font-size: 2.65em;
  color: #3e2753;
}
.main .text {
  text-align: center;
  color: #a39daa;
  font-size: 1.05em;
  line-height: 1.5em;
}

.container {
  width: 90%;
}

/*# sourceMappingURL=custom.css.map */
