@import "_variables/variables";
@import "_mixins/mixins";

* {
  box-sizing: border-box;
}
body {
  background: $bg-body;
  font-family: "Roboto";
}
// Main
.main {
  display: flex;
  justify-content: center;
  padding: 4em 5%;
  .bg-gradient{
    position: absolute;
    top:0;
    left: -70%;
    width: 120%;
    height: 515px;
    display: inline-block;
    @include gradient-violet(bottom);
    border-bottom-right-radius:60%;
    border-bottom-left-radius:50%;
    z-index: 10;
  }
  // .bg-gradient-bottom{
  //   @extend .bg-gradient;
  //   background: /* $bg-bottom-main */ #ddd;
  //   top: auto;
  //   left: auto;
  //   right: 0;
  //   bottom: 0;
  //   border-radius: 0;
  //   border-top-right-radius:60%;
  //   border-top-left-radius:50%;
  // }
  // iPhone
  .iphone {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 82%;
    height: auto;
    font-size: .75em;
    border: 0.85em solid #fff;
    border-radius: 2.5em;
    margin: 0 auto;
    margin-bottom: 5em;
    overflow: hidden;
    z-index: 20;
    @include shadow;
  }
  .top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include gradient(left);
  }
  .notch {
    position: relative;
    top: -0.5em;
    display: inline-block;
    width: 57%;
    height: 2em;
    background: #fff;
    border-radius: 1.2em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: auto;
  }
  .app-bar {
    position: relative;
    top: -0.75em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 5% 0 5%;
    color: #fff;
  }
  .contact {
    &-img {
      display: inline-block;
      width: 2em;
      height: 2em;
      border: 0.15rem solid #fff;
      border-radius: 2em;
    }
    &-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
      margin-left: 0.75em;
    }
    &-name {
      display: inline-block;
      color: #fff;
      margin: 0;
      font-weight: 700;
    }
    &-status {
      display: inline-block;
      margin: 0;
      font-weight: 300;
      font-size: 0.75em;
    }
  }
  // Messages Group
  .messages-group{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 1.5em auto;
  }
  // Chat
  .chat {
    display: flex;
    font-size: .5em;
    padding: 1.5em;
    background: $light-grayish-violet;
    flex-direction: column;
    &-response {
      display: inline-block;
      background: $bg-chat-response;
      color: $moderate-violet;
      max-width: 60%;
      font-size: 1.4em;
      margin-bottom: 0.75em !important;
      padding: 0.75em;
      border-radius: 1.5em;
      border-bottom-left-radius: 0.5em;
      line-height: 1.5em;
      p {
        margin: 0;
      }
    }
    &-check {
      @extend .chat-response;
      @include gradient(right);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      max-width: 80%;
      padding: 1.25em 1em;
      .box {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 1em;
      }
      .time {
        margin-left: 0;
        margin-right: auto;
      }
      .price{
        font-weight: 700;
        font-size: 1.25em;
      }
    }
    &-send {
      @extend .chat-response;
      background: #fff;
      margin: auto;
      margin-right: 0;
      color: $desaturated-dark-violet;
    }
    .group-img {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: none;
      padding: 0;
      margin: auto;
      margin-right: 0;
      .img {
        display: inline-block;
        width: 30%;
        height: auto;
        border-radius: 1em;
      }
    }
    &-input{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      background: #fff;
      color: $grayish-blue;
      height: 4em;
      font-size: 1.5em;
      padding: .5em .5em .5em 1.25em;
      border-radius: 2.5em;
      p{
        display: inline-block;
        margin: 0;
      }
    }
    &-submit{
      display: inline-block;
      width: 2em;
      height: 2em;
      background: $very-dark-desaturated-violet;
      color: #fff;
      line-height: 2em;
      text-align: center;
      border-radius: 50%;
    }
  }
  // Info
  .title{
    font-size: 2.65em;
    color: $very-dark-desaturated-violet;
  }
  .text{
    text-align: center;
    color: $dark-grayish-violet;
    font-size: 1.05em;
    line-height: 1.5em;
  }
}
.container {
  @include container();
}
