@import "_variables/variables";
@import "_mixins/mixins";

* {
  box-sizing: border-box;
}
body {
  background: #ddd;
  font-family: "Roboto";
}
// Main
.main {
  display: flex;
  justify-content: center;
  padding: 4em 5%;
  // iPhone
  .iphone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    border: .75em solid #fff;
    border-radius: 2em;
    margin: 0 auto;
    overflow: hidden;
  }
  .top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left, $light-magenta, $light-violet);
  }
  .notch {
    position: relative;
    top: -0.75em;
    display: inline-block;
    width: 60%;
    height: 2em;
    background: #fff;
    border-radius: 1em;
    margin: auto;
  }
  .app-bar {
    position: relative;
    top: -0.75em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5% 0 5%;
    color: #fff;
  }
  .contact {
    &-img {
      display: inline-block;
      width: 2em;
      height: 2em;
      border: 0.15rem solid #fff;
      border-radius: 2em;
    }
    &-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
      margin-left: .75em;
    }
    &-name {
      display: inline-block;
      color: #fff;
      margin: 0;
      font-weight: 700;
    }
    &-status {
      display: inline-block;
      margin: 0;
      font-weight: 300;
      font-size: .75em;
    }
  }
}
.container {
  @include container();
}
