@mixin mq($mq, $size) {
  @media screen and (min-width: map-get($mq, $size)){
    @content;
  }
}
@mixin container {
  width: 90%;
}
@mixin gradient($direction){
  background: linear-gradient(to $direction, $light-magenta, $light-violet);
}
@mixin gradient-violet($direction){
  background: linear-gradient(to $direction, $bg-top-main, $light-violet);
}
@mixin shadow {
  box-shadow: rgba(200,200,200,.5) 4px 4px 20px;
}